@charset "utf-8";html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
*, *:before, *:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
body{line-height:1;}
ol, ul{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
.clr{clear:both;}
.alignleft{float:left;margin:0 20px 20px 0px;}
.alignright{float:right;margin:0 0 20px 20px;}
.txtleft{text-align:left}
.txtcenter{text-align:center!important;}
html,body{margin:0 auto;padding:0;height:100%;}
body{background:#e5ebf5;font-size:12px;color:#222;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;font-family:Arial, Helvetica, sans-serif;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{font-weight:inherit;}
em{font-style:italic}
strong{font-weight:700;}
blockquote, blockquote p{font-size:17px;line-height:24px;color:#777;font-style:italic;}
blockquote{margin:0 0 20px;padding:9px 20px 0 19px;border-left:1px solid #ddd;}
blockquote cite{display:block;font-size:12px;color:#555;}
blockquote cite:before{content:"\2014 \0020"}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited{color:#555}
hr{border:solid #ddd;border-width:1px 0 0;clear:both;margin:10px 0 30px;height:0;}
a, a:visited{text-decoration:none;outline:0;}
a:hover, a:focus{text-decoration:none;outline:none;}
img:hover{outline:none;}
p a, p a:visited{line-height:inherit}
ul, ol{margin:0}
ul{list-style:none outside}
ol{list-style:decimal}
ol, ul.square, ul.circle, ul.disc{margin-left:30px}
ul.square{list-style:square outside}
ul.circle{list-style:circle outside}
ul.disc{list-style:disc outside}
ul ul li, ul ol li, ol ol li, ol ul li{margin:0;padding:0;}
li{line-height:18px;}
img.scale-with-grid{max-width:100%;height:auto;}
button::-moz-focus-inner,::-moz-focus-inner{border:0;padding:0;}
*{box-sizing:border-box;}
#wrapper{margin:0 auto;padding:0;position:relative;height:auto !important;height:100%;min-height:100%;}
.container-fluid{padding-right:0px!important;padding-left:0px!important;margin-right:auto;margin-left:auto;}
.header-div{margin:0 auto;padding:0;position:fixed;top:0;left:0;width:100%;z-index:1100;background-color:#003661;width:100%;height:150px;}
.header-div .header-top-div{margin:0;padding:10px 20px;position:relative;}
.header-div .header-top-div .logo-div{margin:0;padding:0;position:relative;float:left;width:30%;}
.header-div .header-top-div .logo-div img{width:70%;}
.header-div .header-top-div .nav-div{margin:95px 0 0 0;padding:0;position:relative;float:left;text-align:right;width:60%;}
.header-div .header-top-div .top-strip-div{margin:30px 0 0 0;padding:0;position:relative;float:right;text-align:right;width:10%;}
.header-div .header-top-div .nav-div .navbar-nav{float:right;margin:0;}
.nav-div .navbar{position:relative;min-height:auto;margin-bottom:0px;}
.nav-div .nav>li>a:focus, .nav>li>a:hover{text-decoration:none;background-color:transparent!important;color:#fff;}
.nav-div .dropdown-menu>li>a{display:block;padding:10px 20px;clear:both;font-weight:400;line-height:1.42857143;color:#041e42;white-space:nowrap;}
.nav-div .dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{display:block;padding:10px 20px;clear:both;font-weight:400;line-height:1.42857143;color:#FFF;background-color:#041e42;white-space:nowrap;}
.nav-div .dropdown-menu>li{border-bottom:1px solid #ddd;}
.nav-div .dropdown-menu>li:last-child{border-bottom:0px solid #e2272e;}
.nav-div .navbar-toggle{margin-top:5px;margin-right:0px;}
.nav-div .navbar-nav>li{padding:0 30px;}
.nav-div .navbar-nav>li>a{text-transform:capitalize;color:white;font-size:18px;font-weight:700;font-family:Arial, Helvetica, sans-serif;margin:0;padding:10px 0;}
.nav-div .navbar-nav>li>a:hover{color:#ffcb4f;border-bottom:5px solid #ffcb4f;}
.nav-div .navbar-nav>li.active a{border-bottom:5px solid #ffcb4f;}
.top-strip-div span{display:block;}
.top-strip-div .singup-link{margin:0 0 10px 0;padding:8px 20px;color:#fff;font-size:14px;font-weight:700;border-radius:4px;background:#5088da;display:inline-block;width:100px;text-align:center;}
.top-strip-div .singup-link:hover{background:#fff;color:#0d004c;}
.top-strip-div .login-link{margin:0;padding:8px 20px;color:#0d004c;font-size:14px;font-weight:700;border-radius:4px;background:#ffca4f;display:inline-block;width:100px;text-align:center;}
.top-strip-div .login-link:hover{background:#fff;color:#0d004c;}
.banner-container{margin:100px 0 0 0;padding:0;position:relative;background:#e5ebf5;}
.banner-container .banner-caption-div{margin:0 auto;padding:0;position:absolute;top:25%;width:100%;text-align:center;left:auto;right:auto;z-index:13;}
.banner-container .banner-caption-div h2{margin:0 auto;padding:0 29%;color:#0d004c;font-size:50px;font-weight:700;text-align:center;}
.banner-container .banner-caption-div h2 span{font-weight:900;}
.banner-container .banner-caption-div .btn-link{margin:80px auto 0 auto;padding:0;position:relative;text-align:center;}
.banner-container .banner-caption-div .btn-link a{margin:0;padding:10px 35px;color:#0d004c;font-size:20px;font-weight:700;border-radius:14px;background:#ffcb4f;}
.banner-container .banner-caption-div .btn-link a:hover{background:#fff;}
.banner-container .banner-vidoe-img-div{width:100%;position:relative;z-index:11;}
.banner-container .banner-btm-img{background:url(../images/banner-btm-img.png) no-repeat center bottom;width:100%;height:100%;position:absolute;bottom:-10px;left:auto;right:auto;background-size:100%;z-index:13;}
.video-div{position:absolute;top:0;left:0;width:100%;height:100%;}
.video-background{background:url(../images/hero-img.jpg) no-repeat left top;position:absolute;top:0;right:0;bottom:0;left:0;z-index:1;width:100%;height:100%;overflow:hidden;}
.video-background img{position:relative;z-index:1;}
.video-foreground,
.video-background iframe{position:absolute;top:0;left:0;width:100%;max-width:100%;height:100%;}
.video-background video{position:absolute;top:50%;left:50%;min-width:100%;min-height:100%;width:auto;height:auto;z-index:-100;transform:translateX(-50%) translateY(-50%);background:url('../images/hero-img.jpg') no-repeat;background-size:cover;transition:1s opacity;}
.content-area{margin:60px 0 0 0;padding:0;position:relative;}
.howitworks-container{margin:80px 0;padding:0;position:relative;width:100%;}
.howitworks-container .howitworks-div{margin:0;padding:20px;position:relative;border:5px solid #fade81;border-radius:24px;background:#fff;}
.howitworks-container .howitworks-div h3{margin:-60px 0 20px 10px;padding:0;color:#0d004c;font-size:72px;font-weight:900;}
.howitworks-container .howitworks-div .iphone-img{margin:0;padding:0;position:absolute;float:right;right:20px;top:-30px;text-align:right;}
.howitworks-container .howitworks-div .iphone-img img{text-align:right;}
.howitworks-container .howitworks-div .txt-div{margin:0;padding:0;width:50%;}
.howitworks-container .howitworks-div .txt-1{margin:0 0 20px 0;padding:0;color:#fb4357;font-size:24px;line-height:32px;font-weight:700;}
.howitworks-container .howitworks-div .txt-2{margin:0 0 20px 0;padding:0;color:#0d004c;font-size:24px;line-height:32px;font-weight:700;}
.howitworks-container .howitworks-div .txt-3{margin:0 0 20px 0;padding:0;color:#004ebc;font-size:24px;font-style:italic;line-height:32px;font-weight:700;}
.howitworks-container .howitworks-div .txt-4{margin:0 0 20px 0;padding:0;color:#0d004c;font-size:24px;line-height:24px;font-weight:700;}
.howitworks-container .howitworks-div span{text-align:right;display:inline-block;margin:0 0 0 20px;}
.howitworks-container .howitworks-div .learmore-link{margin:0;padding:8px 20px;font-weight:700;background:#ffcb4f;color:#0d004c;font-size:18px;display:inline-block;border-radius:14px;}
.howitworks-container .howitworks-div .learmore-link:hover{background:#0d004c;color:#fff;}
.multiweather-filters-container{margin:100px 0 80px 0;padding:0;position:relative;width:100%;}
.multiweather-filters-container .multiweather-filters-div{margin:0;padding:20px;position:relative;}
.multiweather-filters-container .multiweather-filters-div h3{margin:0;padding:0;color:#0d004c;font-size:48px;font-weight:700;text-align:center;}
.multiweather-filters-blk{margin:40px auto;padding:0;text-align:center;}
.multiweather-filters-blk li{margin:0 auto;padding:0;text-align:center;display:inline-block;float:left;width:20%;border:0px solid #ccc;}
.multiweather-filters-blk .weather-blk{margin:0 auto;padding:0;text-align:center;}
.multiweather-filters-blk .weather-blk img{margin:0 auto;text-align:center;width:70%;}
.multiweather-filters-blk .weather-blk span{margin:30px 0;padding:0;display:block;color:#003663;font-size:18px;font-weight:700;}
.multiweather-filters-blk li.left{margin-left:10%;}
.weather-report-container{margin:80px 0 80px 0;padding:0;position:relative;width:100%;}
.weather-report-container .weather-report-div{margin:0;padding:20px;position:relative;background:#4871ad;background:linear-gradient(#4871ad,#7da6e2);border-radius:30px;}
.weather-report-container .weather-report-div .w-r-blk-1{margin:0;padding:0px 0 0 20px;float:left;width:30%;position:relative;}
.weather-report-container .weather-report-div .w-r-blk-2{margin:0 auto;padding:0;float:left;width:40%;position:relative;text-align:center;}
.weather-report-container .weather-report-div .w-r-blk-3{margin:0;padding:10px 0 0 0;float:left;width:30%;position:relative;}
.weather-report-container .weather-report-div .w-r-blk-1 h3{margin:0;padding:0;color:#fff;font-size:100px;font-weight:700;}
.weather-report-container .weather-report-div .w-r-blk-1 h3 sup{color:#fff;font-size:50px;font-weight:700;position:absolute;top:30px;}
.weather-report-container .weather-report-div .w-r-blk-1 h4{margin:0;padding:0;color:#fff;font-size:70px;font-weight:700;}
.weather-report-container .weather-report-div .w-r-blk-1 .hl-div{margin:0;padding:0;position:absolute;right:20px;top:20px;}
.weather-report-container .weather-report-div .w-r-blk-1 .hl-div span{color:#fff;font-size:24px;display:block;margin:0 0 5px 0;padding:0;}
.weather-report-container .weather-report-div .w-r-blk-2 img{margin:0 auto;text-align:center;}
.weather-report-container .weather-report-div .w-r-blk-3 h3{margin:0;padding:0 20%;color:#fff;font-size:50px;font-weight:700;text-align:center;}
.weather-report-container .weather-report-div .w-r-blk-3 h3 sup{color:#fff;font-size:40px;font-weight:700;}
.weather-report-container .weather-report-div .w-r-blk-3 h4{margin:20px 0 0 0;padding:0;color:#fff;font-size:32px;text-align:center;}
.weather-action-container{margin:80px 0 0 0;padding:0;position:relative;width:100%;background:#adc4eb url(../images/bottom-img-river-shape-full.png) no-repeat center top;background-size:cover;}
.weather-action-container .weather-action-div{margin:0;padding:220px 0 60px 0;position:relative;}
.weather-action-container .weather-action-div ul{margin:0;padding:0;}
.weather-action-container .weather-action-div li{margin:0 0 30px 0;padding:0;position:relative;float:left;width:25%;}
.weather-action-container .weather-action-div li.left{margin-left:10%;}
.weather-action-container .weather-action-div .weather-box-div{margin:0;padding:0;}
.weather-action-container .weather-action-div .weather-box-div .thumb{margin:0 auto;padding:0;text-align:center;}
.weather-action-container .weather-action-div .weather-box-div .thumb img{margin:0 auto;text-align:center;}
.weather-action-container .weather-action-div .weather-box-div span{margin:0 auto;padding:10px 30px;color:#003661;display:block;font-size:14px;font-weight:700;text-align:center;}
.footer-container{margin:0px 0;padding:20px;position:relative;width:100%;background-color:#003661;}
.footer-container .footer-div{margin:0;padding:20px;position:relative;border-radius:24px;}
.footer-container .footer-div .col-20{width:20%;float:left;position:relative;min-height:1px;padding-right:15px;padding-left:15px;margin:0 auto;}
.footer-container .footer-div .col-20 ul li{font-size:16px;color:white;line-height:1.6;}
.footer-container .footer-div .col-20 ul li a{font-size:16px;color:white;line-height:1.6;}
.footer-container .footer-div .col-20 ul li h3{font-size:22px;font-weight:700;color:white;}
.footer-container .footer-div .col-20 img{width:70%;}
.footer-container .footer-div .col-20 p{font-size:11px;color:#5087da;position:absolute;bottom:0;}
.footer-container .footer-div .col-20 .top-social-span{margin:0 auto;padding:50px 0 90px 0;position:relative;display:inline-block;text-align:right;}
.footer-container .footer-div .col-20 .top-social-span a{border-radius:100%;width:46px;height:46px;background:#5087da;color:#fff;font-size:24px;display:inline-block;text-align:center;line-height:50px;margin:0 10px 0 0;}
.footer-container .footer-div .col-20 .top-social-span a{border-radius:100%;width:46px;height:46px;background:#5087da;color:#fff;font-size:24px;display:inline-block;text-align:center;line-height:50px;margin:0 10px 0 0;}
.login-banner-container{margin:0 auto;padding:0;position:relative;background:url(../images/login-banner.jpg) no-repeat center top;width:100%;background-size:cover;height:100%;}
.general-bg{margin:0 auto;padding:0;position:relative;background:url(../images/login-banner.jpg) no-repeat center top;background-attachment:fixed;width:100%;background-size:cover;height:100%;}
.login-area{margin:0;padding:20% 0 10% 0;position:relative;}
.login-area .login-div{margin:0 auto;padding:0;position:relative;}
.login-area .login-card{margin:0 auto;padding:30px;border-radius:20px;background-color:rgba(207, 236, 252, 0.8);width:45%;}
.login-area .login-card.login-cardboard{width:25%;}
.login-area .login-card h3.txt-1{margin:0 0;padding:0px;font-size:28px;margin-top:0px;margin-bottom:20px;color:#0d004c;font-weight:700;font-family:Arial, Helvetica, sans-serif;}
.login-area .login-card h3.txt-1.login-txt{margin:0 0;padding:0px;font-size:20px;margin-top:0px;margin-bottom:20px;color:#0d004c;font-weight:700;font-family:Arial, Helvetica, sans-serif;}
.login-area .login-card h3.txt-2{margin:0 0;padding:0px;font-size:26px;margin-top:0px;margin-bottom:10px;color:#5088da;font-weight:400;line-height:1.4;font-weight:700;}
.login-area .login-card .italic-font{font-style:italic;font-weight:400;}
.login-area .login-card .field-group{margin:0 0 0px 0px;padding:0;}
.login-area .login-card .form-control{border-radius:24px;border:0;color:#0d004c;font-size:16px;}
.login-area .login-card .field-group-2{margin:10px 0 0px 0px;padding:0;}
.login-area .login-card .field-group-2 span{margin:0px 0 10px 10px;padding:0;color:#0d004c;font-size:14px;}
.login-area .login-card .field-group-2 .input-field-radio{width:20px;height:24px;position:relative;top:6px;color:#fff;border:5px solid red;}
.login-area .login-card .field-group.top{margin:20px 0 0px 0px;padding:0;}
.login-area .login-card .field-group .input-field{width:100%;padding:12px 20px;margin:8px 0;background-color:#fff;border:0;border-radius:20px;outline:none;}
.login-area .login-card .field-group .input-field-text-area{width:100%;height:80px;padding:12px 20px;margin:8px 0;background-color:#fff;border:1px solid #fff;border-radius:20px;resize:none;}
.login-area .signup-btn{margin:0;padding:10px 0;text-align:center;display:block;width:100%;background:#0d004c;color:#fff;font-size:18px;text-transform:uppercase;border:0;border-radius:24px;}
.login-area .signup-btn.btn-all{margin:10px 0px;padding:10px 0;text-align:center;display:block;width:100%;background:#0d004c;color:#fff;font-size:18px;text-transform:uppercase;border:0;border-radius:24px;}
::-webkit-input-placeholder{color:#0d004c;}
::-moz-placeholder{color:#0d004c;}
:-ms-input-placeholder{color:#0d004c;}
:-moz-placeholder{color:#0d004c;}
.checkbox{padding-left:20px;}
.checkbox label{display:inline-block;position:relative;padding-left:5px!important;color:#0d004c;font-size:18px;font-weight:700;}
.checkbox label::before{content:"";display:inline-block;position:absolute;width:17px;height:17px;left:0;margin-left:-20px;border:3px solid #0d004c;border-radius:50%;background-color:#fff;-webkit-transition:border 0.15s ease-in-out, color 0.15s ease-in-out;-o-transition:border 0.15s ease-in-out, color 0.15s ease-in-out;transition:border 0.15s ease-in-out, color 0.15s ease-in-out;}
.checkbox label::after{display:inline-block;position:absolute;content:" ";width:11px;height:11px;left:3px;top:3px;margin-left:-20px;border-radius:50%;background-color:#54a7e9;-webkit-transform:scale(0, 0);-ms-transform:scale(0, 0);-o-transform:scale(0, 0);transform:scale(0, 0);-webkit-transition:-webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);-moz-transition:-moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);-o-transition:-o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);transition:transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);}
.checkbox input[type="checkbox"]{opacity:0;}
.checkbox input[type="checkbox"]:checked + label::after{-webkit-transform:scale(1, 1);-ms-transform:scale(1, 1);-o-transform:scale(1, 1);transform:scale(1, 1);}
.checkbox input[type="checkbox"]:disabled + label{opacity:0.65;}
.checkbox input[type="checkbox"]:disabled + label::before{background-color:#eeeeee;cursor:not-allowed;}
.checkbox.checkbox-circle label::before{border-radius:50%;}
.checkbox.checkbox-inline{margin-top:0;}
.checkbox-primary input[type="checkbox"]:checked + label::before{background-color:#428bca;border-color:#428bca;}
.checkbox-primary input[type="checkbox"]:checked + label::after{color:#fff;}
.checkbox-danger input[type="checkbox"]:checked + label::before{background-color:#d9534f;border-color:#d9534f;}
.checkbox-danger input[type="checkbox"]:checked + label::after{color:#fff;}
.checkbox-info input[type="checkbox"]:checked + label::before{background-color:#5bc0de;border-color:#5bc0de;}
.checkbox-info input[type="checkbox"]:checked + label::after{color:#fff;}
.checkbox-warning input[type="checkbox"]:checked + label::before{background-color:#f0ad4e;border-color:#f0ad4e;}
.checkbox-warning input[type="checkbox"]:checked + label::after{color:#fff;}
.checkbox-success input[type="checkbox"]:checked + label::before{background-color:#5cb85c;border-color:#5cb85c;}
.checkbox-success input[type="checkbox"]:checked + label::after{color:#fff;}
.sign-up-form .forget-pass{margin:0;padding:20px 0px;}
.sign-up-form .forget-pass a{margin:0;padding:20px;position:relative;color:#0d004c;font-size:14px;}
.login-area .login-card h3.txt-1.login-txt{text-align:center;}
.main-content-area-all{margin:200px 0 10px 0;padding:0;position:relative;}
.learn-more-container{margin:0px 0;padding:0;position:relative;width:100%;}
.learn-more-container .learn-more-div-1{margin:0;padding:20px;position:relative;border:5px solid #fade81;border-radius:24px;background:#fff;}
.learn-more-container .learn-more-div-1 h3{margin:0px 0 20px 0px;padding:0;color:#0d004c;font-size:54px;font-weight:900;}
.learn-more-container .learn-more-div-1 .iphone-img-1{margin:0;padding:0;position:absolute;float:left;left:20px;top:-30px;text-align:right;}
.learn-more-container .learn-more-div-1 .iphone-img-1 img{text-align:right;}
.learn-more-container .learn-more-div-1 .txt-div{margin:0;padding:0;width:100%;}
.learn-more-container .learn-more-div-1 .more-txt-1{margin:0 0 20px 0;padding:0;color:#5088da;font-size:24px;line-height:32px;font-weight:700;}
.learn-more-container .learn-more-div-1 .more-txt-2{margin:0 0 20px 0;padding:0;color:#fb4357;font-size:24px;line-height:32px;font-weight:700;}
.learn-more-container .learn-more-div-1 .more-txt-3{margin:0 0 20px 0;padding:0;color:#0d004c;font-size:24px;line-height:32px;font-weight:700;}
.learn-more-container .learn-more-div-1 .more-txt-4{margin:0 0 20px 0;padding:0;color:#0d004c;font-size:24px;line-height:32px;font-weight:400;font-style:italic;}
.learn-more-container .learn-more-div-1 span{text-align:right;display:inline-block;margin:0 0 0 20px;}
.learn-more-container .learn-more-div-1 .learmore-link{margin:0;padding:8px 20px;font-weight:700;background:#ffcb4f;color:#0d004c;font-size:18px;display:inline-block;border-radius:14px;}
.learn-more-container .learn-more-div-1 .learmore-link:hover{background:#0d004c;color:#fff;}
.learn-more-container .learn-more-div-2{margin:0;padding:20px;position:relative;border:5px solid #f7acd5;border-radius:24px;background:#fff;}
.learn-more-container .learn-more-div-2 .iphone-img-1{margin:0;padding:0;position:absolute;float:left;left:20px;top:-30px;text-align:right;}
.learn-more-container .learn-more-div-2 .iphone-img-1 img{text-align:left;}
.learn-more-container .learn-more-div-2 .txt-div-1{margin:0;padding:0;width:50%;position:relative;float:right;}
.learn-more-container .learn-more-div-2 .learn-more-txt-1{margin:0 0 16px 0;padding:0;color:#003661;font-size:18px;line-height:32px;font-weight:400;}
.learn-more-container-2{margin:30px 0 50px 0;padding:0;position:relative;width:100%;}
.learn-more-container-2 .learn-more-div-21{margin:0;padding:20px;position:relative;border:5px solid #f7acd5;border-radius:24px;background:#fff;}
.learn-more-container-2 .learn-more-div-21 .txt-div-1{margin:0;padding:0;width:100%;position:relative;float:left;}
.learn-more-container-2 .learn-more-div-21 .learn-more-txt-1{margin:0 0 16px 0;padding:0;color:#003661;font-size:18px;line-height:32px;font-weight:400;}
.learn-more-container-2 .learn-more-div-21 .learn-more-txt-1 .special-text{font-size:18px;font-weight:700;}
.learn-more-container-2 .learn-more-div-21 .learn-more-txt-2{margin:0 0 5px 0;padding:0;color:#003661;font-size:24px;line-height:32px;font-weight:700;}
.learn-more-container-2 .learn-more-div-21 .trial-link{margin:0px 50px;padding:10px 20px;float:right;font-weight:700;background:#ffcb4f;color:#0d004c;font-size:18px;display:inline-block;border-radius:14px;}
.learn-more-container-2 .learn-more-div-21 .trial-link:hover{background:#0d004c;color:#fff;}
.plan-more-container{margin:30px 0;padding:0;position:relative;width:100%;}
.plan-more-container .plan-more-div-1{margin:0;padding:20px;position:relative;background:transparent;}
.plan-more-container .plan-more-div-1 h3{margin:0px 0 20px 0px;padding:0;color:#fff;font-size:54px;font-weight:700;}
.plan-more-container .plan-more-div-1 .trial-link{margin:0px 0px;padding:10px 20px;font-weight:700;background:#ffcb4f;color:#0d004c;font-size:18px;display:inline-block;border-radius:14px;}
.plan-more-container .plan-more-div-1 .trial-link:hover{background:#0d004c;color:#fff;}
.plan-more-container .plan-more-div-1 .trial-txt-1{margin:0;padding:20px 5px;color:#fff;display:block;font-size:16px;font-weight:400;}
.plan-more-container .plan-grid-div{margin:0 auto;padding:0;border-radius:24px;}
.plan-more-container .plan-grid-div .plan-card-div-1{margin:0 auto;padding:0;position:relative;}
.plan-more-container .plan-grid-div .plan-card-div-1 .img-icecream{margin:0 auto;text-align:center;padding:0;position:relative;padding:0px 0 30px 0;border-top-left-radius:20px;border-top-right-radius:20px;background-color:#fff;}
.plan-more-container .plan-grid-div .plan-card-div-2{margin:-20px auto;padding:0;text-align:center;position:absolute;z-index:100;left:20%;right:20%;}
.plan-more-container .plan-grid-div .btn-ice-title{margin:0 auto;display:block;padding:6px 12px;font-size:18px;line-height:1.42857143;text-align:center;background-color:#003661;color:#fff;font-weight:500;width:150px;border-radius:6px;}
.plan-more-container .plan-grid-div .plan-card-div-3{margin:0 auto;position:relative;padding:35px 0;min-height:365px;max-height:700px;border-bottom-left-radius:20px;border-bottom-right-radius:20px;}
.plan-more-container .plan-grid-div h3{margin:0;padding:10px 0 10px 0;color:#003661;text-align:center;font-size:24px;font-weight:700;}
.plan-more-container .plan-grid-div span{display:block;margin:0;padding:5px 0;color:#003661;text-align:center;font-size:18px;font-weight:400;}
.plan-more-container ul{margin:0;padding:5px 15px 0px 35px;color:#003661;font-size:16px;font-weight:400;list-style:disc outside;}
.plan-more-container li{margin:0;padding:5px 0;line-height:1.4;}
.plan-more-container .color-card-1{background-color:#b7d4f8;}
.plan-more-container .color-card-2{background-color:#aee8db;}
.plan-more-container .color-card-3{background-color:#f7acd5;}
.plan-more-container .color-card-4{background-color:#fade81;}
.padd-card-20{padding:20px 0;}
.row-eq-height{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.desktop-hidden{display:none!important;}
@media only screen and (max-width:767px){html, body{overflow-x:hidden;}
.container{width:100% !important;}
.canvas{margin:0!important;padding:0!important;}
.mobile-hidden{display:none!important;}
.desktop-hidden{display:block!important;}
.header-div{height:auto;}
.header-div .header-top-div{margin:0;padding:0 0 10px 0;}
.header-div .header-top-div .logo-div{padding:10px 0 0 10px;width:100%;}
.header-div .header-top-div .nav-div{width:100%;position:absolute;margin:0;padding:0;top:22px;right:0;float:right;}
.nav-div .navbar-toggle{margin-top:4%;margin-right:0px;}
.navbar-toggle .icon-bar{background:#fff}
.navbar{border:0!important;}
.navbar-collapse{padding:0!important;margin:0!important;width:100%;border:0!Important;box-shadow:none!Important;}
.header-div .header-top-div .nav-div .navbar-nav{width:100%;float:none;text-align:left;margin:2px 0 0 0;background:#003661;}
.nav-div .navbar-nav > li > a{padding:10px 20px;}
.nav-div .navbar-nav{padding:0px 0 20px 0;}
.banner-container{margin-top:90px;height:100%;}
.banner-container .banner-vidoe-img-div{height:500px;}
.banner-container .banner-caption-div h2{padding:0 20px;font-size:32px;}
.video-background{height:100%;}
.howitworks-container .howitworks-div h3{margin-top:-40px;font-size:32px;}
.howitworks-container .howitworks-div .txt-div{width:100%;}
.howitworks-container .howitworks-div .iphone-img{display:none;}
.howitworks-container .howitworks-div span{text-align:center;display:block;margin:20px;}
.multiweather-filters-container .multiweather-filters-div h3{font-size:32px;}
.multiweather-filters-blk li{width:50%;}
.multiweather-filters-blk li.left{margin-left:0;}
.weather-report-container .weather-report-div .w-r-blk-1{width:50%;}
.weather-report-container .weather-report-div .w-r-blk-2{width:50%;}
.weather-report-container .weather-report-div .w-r-blk-3{width:100%;margin:20px 0;}
.weather-report-container .weather-report-div .w-r-blk-1 h3{font-size:42px;}
.weather-report-container .weather-report-div .w-r-blk-1 h4{font-size:32px;}
.weather-report-container .weather-report-div .w-r-blk-1 .hl-div{position:relative;right:0;}
.weather-action-container .weather-action-div li{width:100%;}
.weather-action-container .weather-action-div li.left{margin-left:0;}
.weather-action-container{background-size:100%;}
.weather-action-container .weather-action-div{padding-top:100px;}
.login-area{margin:35% 0 0 0;}
.login-container{margin:0px 0;padding:0px;position:relative;width:100%;}
.login-container .login-div .login-card{margin:0 0;padding:20px;border-radius:20px;background-color:rgba(207, 236, 252, 0.8);}
.login-container .login-div .login-card h3.txt-1{margin:0 0;padding:0px;font-size:18px;margin-top:0px;margin-bottom:20px;color:#0d004c;font-weight:700;font-family:Arial, Helvetica, sans-serif;}
.login-container .login-div .login-card h3.txt-2{margin:0 0;padding:0px;font-size:17px;margin-top:0px;margin-bottom:10px;color:#5088da;font-weight:400;line-height:1.4;font-weight:700;}
.login-area .login-card{width:95%;margin-bottom:50px;}
.login-area .login-card.login-cardboard{width:95%;}
.footer-container .footer-div{padding:0;}
.footer-container .footer-div .col-20{width:100%;margin:10px auto;}
.footer-container .footer-div .col-20 .top-social-span{padding:20px 0 50px 0;}
.nav-div .navbar-nav>li.active a{border-bottom:0px solid #ffcb4f;color:#ffcb4f}
.plan-more-container .plan-more-div-1 h3{color:#003661;}
.plan-more-container .plan-more-div-1 .trial-txt-1{color:#003661;}
.main-content-area-all{margin:130px 0 10px 0;}
.learn-more-container{margin:20px 0;}
.learn-more-container-2{margin:0px 0 20px 0;}
.learn-more-container .learn-more-div-1 h3{font-size:36px;}
.learn-more-container .learn-more-div-2 .iphone-img-1{display:none;}
.learn-more-container .learn-more-div-2 .txt-div-1{width:100%;}
.learn-more-container-2 .learn-more-div-21 .trial-link{margin:10px auto;float:none;}
.learn-more-container-2 .learn-more-div-21 .learn-more-txt-2{font-size:18px;}
.nav-div .navbar-nav>li>a:hover{color:#ffcb4f;border-bottom:0px solid #ffcb4f;}
.plan-more-container .plan-grid-div .plan-card-div-3{height:auto;}
.padd-card-20{padding:20px 0;}
.plan-more-container .plan-more-div-1 h3{font-size:36px;}
.plan-more-container .plan-more-div-1 .trial-txt-1{line-height:1.4;}
}
@media only screen and (min-width:320px) and (max-width:480px){}
@media only screen and (min-width:480px) and (max-width:640px){}
@media only screen and (min-width:768px) and (max-width:1023px){.container{width:100% !important;}
html, body{overflow-x:hidden;}
.canvas{margin:0!important;padding:0!important;}
.mobile-hidden{display:block!important;}
.desktop-hidden{display:none!important;}
.header-div .header-top-div .logo-div{width:30%;}
.header-div .header-top-div .logo-div img{width:100%;}
.content-area{padding:0 20px;}
.learn-more-container .learn-more-div-2{margin:0;padding:16px 0;position:relative;border:5px solid #f7acd5;border-radius:24px;background:#fff;}
.learn-more-container .learn-more-div-2 .iphone-img-1{width:40%;}
.howitworks-container .howitworks-div h3{margin:-60px 0 20px 10px;padding:0;font-size:59px;font-weight:900;}
.banner-container .banner-caption-div h2{padding:0 29%;font-size:30px;}
.header-div .header-top-div .nav-div{width:52%;}
.header-div .header-top-div .top-strip-div{width:18%;}
.nav-div .navbar-nav>li{padding:0 20px;}
.plan-more-container .plan-grid-div .plan-card-div-3{padding:35px 0 20px 0;min-height:305px;max-height:700px;}
.plan-more-container .plan-more-div-1{padding:0;}
.plan-more-container .plan-grid-div .btn-ice-title{width:120px;}
.plan-more-container ul{padding:5px 10px 0px 25px;font-size:12px;}
}
@media only screen and (min-width:768px) and (max-width:1023px){}
@media only screen and (width:980px){}
@media only screen and (width:1024px){.container{width:100% !important;}
html, body{overflow-x:hidden;}
.canvas{margin:0!important;padding:0!important;}
.nav-div .navbar-nav > li > a{padding:10px 8px;}
}